<!DOCTYPE html>
<html lang="en">

<head> </head>

<style type="text/css">
    body {
        color: #444;

        border: 1px solid;
        margin-right: auto;

        margin-left: auto;
        max-width: 600px;
        word-wrap: break-word;

    }
</style>

<body>
    <header></header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <p>
                <%- JSON.stringify(info) %>
            </p>

        </div>
    </main>

    <footer></footer>



</body>

</html>