<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="container">

    <header>

    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <p>
        <%= tagline %>
    </p>

    <p>
    <ul>
        <% mascots.forEach(function(mascot) { %>
            <li>
                <strong>
                    <%= mascot.name %>
                </strong>
                representing <%= mascot.organization %>, born <%= mascot.birth_year %>
            </li>
            <% }); %>
    </ul>
    </p>

    <footer>

    </footer>

</body>

</html>